best_mono_kid_words/
.ipynb_checkpoints/
.ipynb
.vscode/*
*.docx
*.xlsx
*.zip
*.png
*.tgz
*.tar.gz
Untitled.ipynb
aoa.xlsx
best_mono_kid_words - Copy/
3k/opwords.csv
3k/orthphon.csv
new_mono_scored.csv
new_mono_scored.csv
new_mono_scored.csv
low_3k_score_words.csv
Models.ipynb
LoadWords.ipynb
LoadMonoMerge.ipynb
